html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  margin:0;
}

.container {
    flex: 1;
    padding-bottom: 60px;  
}
main{
    flex:1;
}
body {
    display:flex;
  margin-bottom: 60px;
  flex-direction: column;
}
footer {
    flex-shrink: 0;
}

.description-cell {
    max-width: 200px; /* Ýstediðiniz geniþliði belirleyin */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
